

header, first-section{
    background-color: #1f2937ee;
    display: flex;
    justify-content: space-between;
    padding-left: 160px;
    padding-right: 160px;
}

header-left{
    display: flex;
}

header-right {
    display: flex;
    gap: 20px;
    align-items: center;
}

a{
    text-decoration: none;
    color:rgb(123, 215, 185);
}

first-section {
    padding-top: 80px;
    padding-bottom: 80px;
    gap: 300px;
}

h1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: bolder;
    padding: 0px;
    margin: 0px;
}

p {
    font-size: 18px;
    color: #E5E7EB;
    margin: 0px;
    margin-top: 10px;
    margin-bottom: 20px;
}

first-section button {
    background-color: #3882F6;
    color:#E5E7EB;
    font-weight: bold;
    border: 0px;
    border-radius: 5px;
    padding: 5px;
    padding-left: 25px;
    padding-right: 25px;
}

