body {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto';
}

header, .dark-section, .white-section-2{
    padding:0px;
    margin:0px;
    background-color: #1f2937ee;
    display: flex;
    justify-content: space-between;
    padding-left: 160px;
    padding-right: 160px;
    flex-wrap: wrap;
}

.header-left h3 {
    color:#F9FAF8;
    font-size: 24px;
}

.header-right {
    display: flex;
    gap: 20px;
    align-items: center;
}

.header-right a{
    text-decoration: none;
    color:#E5E7EB;
    font-size: 18px;
}

.dark-section {
    padding-top: 80px;
    padding-bottom: 80px;
}

.dark-section .dark-left {
    width: 350px;
    margin-bottom: 30px;
}

h1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: bolder;
    padding: 0px;
    margin: 0px;
}

.dark-section p {
    font-size: 18px;
    color: #E5E7EB;
    margin: 0px;
    margin-bottom: 5px;
}

.sign-up {
    background-color: #3882F6;
    color:#E5E7EB;
    font-weight: bold;
    border: 0px;
    border-radius: 5px;
    padding: 5px;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 10px;;
}

.white-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 60px;
    padding-left: 240px;
    padding-right: 240px;
    flex-wrap: wrap;
}

.white-section h2 {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}

.ws-images {
    display: flex;
    justify-content: space-around;
    gap: 50px
}

.ws-images > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.ws-images img {
    border-radius: 10px;
    border: 1px solid #3882F6;
}

.ws-images p {
    padding-top: 0px;
    color: #1f2937;
    font-size: 18px;
}

.grey-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px;
    padding-left: 240px;
    padding-right: 240px;
    background-color: #E5E7EB;
}

.grey-section .quote {
    font-size: 36px;
    font-family: light italic;
    color: #1f2937;
}

#p-author{
    font-size: 18px;
    font-weight: bold;
    text-align: end;
}

.white-section-2 {
    background-color:#3882F6;
    margin: 80px;
    margin-left: 160px;
    margin-right: 160px;
    border-radius: 10px;
    display:flex;
    align-items: center;
    padding: 50px;
    padding-left: 140px;
    padding-right: 140px;
}
.white-section-2 p, h3 {
    color:white
}

.white-section-2 button {
    border: 1px solid #E5E7EB;
    margin-bottom: 10px;
}

.footer {
    background-color: #1f2937;
    padding: 10px;
    text-align: center;
}
.footer p {
    color:#E5E7EB
}
